[Unit]
Description=Run Lore to Git backup every night

[Timer]
OnCalendar=*-*-* 02:00:00
Persistent=true
Unit=lore-git-backup.service

[Install]
WantedBy=timers.target
